/*body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}
a , a:hover{text-decoration:none;}
img{max-width:100%;}
.container{
	max-width:1170px;
	width:100%;
	margin:0 auto;
	background-color: #808080;
}
.pad_lt0{
	padding-left:0;
}
.custom-gender{
	font-weight: normal;
}
.radio-inline.cstm_radio{padding-left: 10%;}
.radio-inline.cstm_radio input[type=radio]{
	position: relative;
	margin-left: 0px;
	height: 16px;
}
img {
  max-width: 200px;
  max-height: 100%;
}

img, div {
  float: left;
  margin: 10px 0 0 10px;
}*/

.hide-bottom {
    border-top-style: hidden;
}

.bankDetailHeading{
  font-weight: 700;
  margin-top: -11px;
  margin-left: -11px;
  margin-bottom: 25px;
}


/*========ADMIN==================*/


label.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
}

.switch input.spl_checkbox {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.spl_checkbox:checked + .slider {
  background-color: #2196F3;
}

input.spl_checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input.spl_checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 57px;
    height: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.container_box {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ccc;
    width: 500%
    margin: 0px 0px;
}
.tbl_left {
    width: 100%;
    padding: 12px 8px;
    background: #ccc;
}
.table.mytbl>thead>tr>th {
    border-bottom: 1px solid #ddd;
}

.cstm_frm_wrapper{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;}
.cstm_frm_wrapper form{
    width: 100%;
    float: left;
    box-shadow: 0px 0px 3px #888888;
    padding: 40px;}

.cstm_layout_wrapper{margin-top:8%;}



.error-page {
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  margin-top: 75px;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: #ccc;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
